<% layout('_base')%>

<div class="contact">
    <div class="contact-left">
        <h1>Have any questions?</h1>
        <form action="/contact" method="POST">
            <label for="email">E-Mail</label>
            <input placeholder="Your E-Mail" type="email" id="email" name="email" class="input-email">
            <label for="message">Message</label>
            <textarea placeholder="Your message" type="text" id="message" name="message" class="input-message"></textarea>
            <input type="submit" value="Send message" class="input-submit">
        </form>
    </div>
    <div class="contact-right">
        <h1>Contact me directly</h1>
        <p>E-Mail: <a href="mailto:kontakt@krzysztofbialk.pl"><i>kontakt@krzysztofbialk.pl</i></a></p>
        <p>GitHub: <a href="https://github.com/kbilak"><i>kbilak</i></a></p>
        <p>Twitter: <a href="https://twitter.com/kbwebdev"><i>kbwebdev</i></a></p>
    </div>
</div>