<footer>
    <div>
        <a href="/newsletter">
            <i class="fa-solid fa-envelope"></i>
            Newsletter
        </a>
        <a href="/files/resume.pdf" target="_blank">
            <i class="fa-solid fa-envelope-open-text"></i>
            Resume
        </a>
    </div>
    <div>
        <a href="https://github.com/kbilak" target="_blank">
            <i class="fa-brands fa-github fa-xl"></i>
        </a>
        <a href="https://twitter.com/kbwebdev" target="_blank">
            <i class="fa-brands fa-twitter fa-xl"></i>
        </a>
    </div>
    <div></div>
</footer>