<header>
    <a href="/">ABOUT</a>
    <a href="/blog">BLOG</a>
    <a href="/projects">PROJECTS</a>
    <a href="/contact">CONTACT</a>
</header>
<% if (message) { %>
    <p style="margin: 0 0 10px 0; padding: 10px 0 10px 0; width: auto; border: 1px solid grey; display: flex; justify-content: center; align-items: center; max-height: 50px; min-height: 20px;"><%= message %></p>
<% } %>
