<% layout('_base')%>

<div class="index">
    <div class="index-top">
        <img src="/files/profile.jpg" alt="krzysztof bialk">
        <div>
            <h1>krzysztof bialk</h1>
            <p><i class="fa-brands fa-dev fa-xl"></i>      web developer</p>
            <p><i class="fa-solid fa-globe fa-lg"></i>      <a href="https://www.google.com/maps/place/Wejherowo/@54.6049546,18.1985955,13z/data=!3m1!4b1!4m5!3m4!1s0x46fdba295e757655:0x27fe1a3923cf6cc7!8m2!3d54.6003216!4d18.2330488">wejherowo, poland</a></p>
            <div>
                <span><i class="fa-brands fa-node-js fa-lg"></i>     node.js</span>
                <span><i class="fa-solid fa-t fa-lg"></i>     typescript</span>
                <span><i class="fa-brands fa-dailymotion fa-lg"></i>     django</span>
                <span><i class="fa-brands fa-python fa-lg"></i>     python</span>
            </div>
        </div>
    </div>
    <div class="index-btn">
        <p style="font-size: 1.4rem;">
            Hello world!
        </p>
        <p class="index-desc">
            My name is Krzysztof (or just Chris). I'm 21 years old CS student. I develop and design simple, but elegant web sites. Programming and designing is my full-time hobby and part-time job, as a freelancer. I'm also into cybersecurity. 
        </p>
        <p class="index-desc">
            All my personal projects are open-source. I mainly use basic web tools while building project. That includes HTML, CSS, JavaScript, NodeJS. Of course, these aren't the only ones I use. To develop more complex web apps and desktop applications I use Python and Django. I'm currently learning TypeScript.
        </p>
        <p class="index-desc">
            Every project is listed on <a href="/projects"><i>projects</i></a> site. There's the <a href="/blog"><i>blog</i></a>, mainly about web development. You are more than welcome to take a look.
        </p>
    </div>
</div>