<% layout('_base')%>

<div class="projects">
    <div>
        <p>Enjoying my projects?</p>
        <div>
            
            <a href="https://ko-fi.com/kbialk">
                <i class="fa-solid fa-mug-hot"></i>
                Buy me a coffe!
            </a>
        </div>
    </div>
</div>