$font_color: rgb(13, 13, 13);
@mixin h-f {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 30px 0 30px 0;
    box-sizing: border-box;
}
body {
    min-width: 100vh;
    padding: 0 150px 0 150px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header {
    @include h-f;
    width: 300px;
    a {
        display: flex;
        align-items: center;
    }
}
footer {
    @include h-f;
    div {
        width: 33.33%;
        display: flex;
        align-items: center;
        a {
            &:nth-child(1) {
                margin: 0 20px 0 0;
            }
            &:nth-child(2) {
                margin: 0 0 0 20px;
            }
        }
        &:nth-child(2) {
            display: flex;
            justify-content: center;
        }
    }
}
.index {
    display: flex;
    flex-direction: column;
    .index-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        h1 {
            margin-top: 0;
        }
        p, span {
            font-size: 1.1rem;
        }
        img {
            margin: 0 50px 0 0;
            max-height: 250px;
            max-width: 250px;
            min-height: 250px;
            min-width: 250px;
            border-radius: 50%;
        }
    }
    .index-btn {
        padding: 30px 0 0 0;
        .index-desc {
            text-align: justify;
            font-size: 1.2rem;
            font-weight: 300;
        }
    }
}
.projects {
    display: flex;
    flex-direction: column;
}
.contact {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    .contact-left {
        width: 50%;
        form {
            display: flex;
            flex-direction: column;
            width: 400px;
            height: auto;
            label {
                font-size: 1.1rem;
                padding: 0 0 10px 0;
            }
            .input-email {
                height: 40px;
                border-radius: 20px;
                border: 1px solid gray;
                padding: 0 10px 0 10px;
                font-size: 1rem;
                margin: 0 0 20px 0;
            }
            .input-message {
                height: 80px;
                border-radius: 20px;
                border: 1px solid gray;
                padding: 10px;
                font-size: 1rem;
                font-family: 'Roboto', sans-serif;
                margin: 0 0 20px 0;
            }
            .input-submit {
                height: 40px;
                border-radius: 20px;
                font-size: 1.1rem;
                background-color: black;
                border: 1px solid black;
                color: whitesmoke;
            }
            textarea {
                resize: none;
            }
        }
    }
    .contact-right {
        width: 50%;
        h1 {
            margin-bottom: 30px;
        }
        p {
            font-size: 1.2rem;
        }
    }
}
a {
    text-decoration: none;
    color: $font_color;
}
.content {
    min-height: calc(100vh - 200px);
    box-sizing: border-box;
}